{
    "port": 8004,
    "appName": "order-services",
    "appEnv": "local",
    "signatureKey": "secret000",
    "database": {
        "host": "localhost",
        "port": 5432,
        "name": "order-services",
        "username": "root",
        "password": "secret",
        "maxOpenConnection": 10,
        "maxLifetimeConnection": 10,
        "maxIdleConnection": 10,
        "maxIdleTime": 10
    },
    "rateLimiterMaxRequest": 1000,
    "rateLimiterTimeSecond": 60,
    "internalService": {
        "user": {
            "host": "http://localhost:8001",
            "signatureKey": "secret123"
        },
        "field": {
            "host": "http://localhost:8002",
            "signatureKey": "secret456"
        },
        "payment": {
            "host": "http://localhost:8003",
            "signatureKey": "secret789"
        }
    },
    "kafka": {
        "brokers": ["localhost:9092"],
        "timeoutInMs": 100,
        "maxRetry": 3,
        "maxWaitTimeInMs": 100,
        "maxProcessingTimeInMs": 200,
        "backoffTimeInMs": 100,
        "topics": ["payment-service-callback"],
        "groupID": "payment-consumer-local"
    }
}