.btn {
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 14px;
}

.btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn.btn-primary {
  background: #D90D1E;
  border-color: #D90D1E;
}
.btn.btn-primary:hover {
  border-color: #BF0426;
  background: #BF0426;
}

.caption {
  color: white;
  font-size: 15px;
  margin-top: -25px;
  margin-bottom: 35px;
  position: relative;
}